<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/main.css">
<header class="row bg-primary">
    <nav class="navbar navbar-dark navbar-expand">
        <div class="col-sm-10 offset-2">
            <div class=navbar-nav>
                <a class="nav-item nav-link active" href="#">Каталог</a>
                <a class="nav-item nav-link" href="#">Доставка</a>
                <a class="nav-item nav-link" href="#">Гарантии</a>
                <a class="nav-item nav-link" href="#">Контакты</a>
            </div>
        </div>
    </nav>
</header>

<main class="row">

    <div class="col-sm-5 offset-sm-1">
        <a class="product" href="<%= product.URL %>">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= product.imgURL %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.title %>
                    </h5>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                    <h5 class="card-title">Цена:
                        <%= product.price %> грн.</h5>
                    <a href="#" class="btn btn-primary ">Заказать</a>
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-5 offset-sm-1">
        <a class="product" href="/product1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top " src="static/product1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Beats Studio Wireless Over-Ear Headphones</h5>
                    <p class="card-text">Беспроводные наушники Beats Studio</p>
                    <h5 class="card-title">Цена: 10000 грн.</h5>
                    <a href="#" class="btn btn-primary ">Заказать</a>
                </div>
            </div>
        </a>
    </div>
</main>

<footer class="row">
    <div class="col-12">
        © Codery.camp, 2019
    </div>
</footer>
